<!DOCTYPE html>
<html lang="en">
<!-- lang="en" กำหนดภาษาหลักเว็บ -->
<head>
	<meta charset="UTF-8">
	<!-- meta = กำหนดรายละเอียดเล็กๆน้อยๆ
	ใช้ utf-8 เพื่ออ่านฟ้อนไทย -->
	<title>CMM19</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/home.css">
	<style type="text/css">
		.navbar-item {

		}
	</style>
</head>
<body>
	<!-- COMMENT -->
	<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"> <!--แทรกรูป กำหนดขนาด-->
		</div>
		<div class="nav-center">
		<nav class="navbar-tabs">
			<a href="#" class="nav-item">WORK</a>
			<a href="#" class="nav-item">WORK</a>
			<a href="#" class="nav-item">WORK</a>
			<a href="#" class="nav-item">WORK</a>
			<a href="#" class="nav-item">WORK</a>
			<a href="#" class="nav-item">WORK</a>
			<a href="#" class="nav-item">WORK</a>
			<a href="#" class="nav-item">WORK</a>
		</nav>
		</div>


	</header>
	<!--h1 class="has-text-centered">เวร</h1--> <!--ทำตรงกลาง-->
	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item">
						<h1>สวนเวร</h1> <!--h1 ควรมีตัวเดียว/หน้า-->
					</div>
				</div>
			</div>
			<div>
				<div class="thumbnail">
					<div class="columns is-marginless">
						<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
							ดีจ้า
						</div>

						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
							จ๊าจางงง
						</div>

						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
							ฮริ้งงง
						</div>

						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);"> 
							<!--paddingless=เอาขอบของรูปออก-->
							อุว้าว
						</div>

						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-5.jpg);">
							อรุมมม
						</div>
			</div>
		</section>

		<section class="section we-present">
			<div class="container"> <!--กำหนดกรอบ-->
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a> <!--เป็นปุ่ม-->
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a> <!--เป็นปุ่ม-->
					</div>
				</div>

				<div class="columns is-multiline"> 
					<!--columnข้างในขึ้นบรรทัดใหม่ได้เมื่อเต็มเฟรม-->
					<a href="#" class="column is-one-third"> <!--copy here-->
						<!--cloumn1/3-->
						<div class="card"><!--card desgin-->
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1"> 
									<!--alt=ถ้าหารูปไม่เจอจะเอาtextในaltไปshow-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<!--ใส่วันที่ ยอดวิวบลาๆ-->
								<h3 class="title is-spaced is-4">
									<!--is-4 กำหนดขนาดtext-->
									yolo yolo yolo yo
									<!--ชื่อบทความ-->
								</h3>
								<h4 class="subtitle is-6">
									<!--is-6 กำหนดขนาดtext-->
									<!--ใส่คนเขียน-->
									tangjinjam tangjinjammm
								</h4>
								<p>
									hi there ดอกไม้แต่ละชนิด แต่ละสีสัน ต่างมีความหมายของตัวเอง สิ่งเหล่านี้คือ "ภาษาดอกไม้" ... ความหมายของเยอบีร่ามีด้วยกันสองความหมายคือ ความบริสุทธิ์ไร้เดียงสา กับ ความเข้มแข็ง
									<!--เนื้อหา-->
								</p>
							</div>
						</div>
					</a>
					
					<a href="#" class="column is-one-third"> <!--copy here-->
						<!--cloumn1/3-->
						<div class="card"><!--card desgin-->
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-1"> 
									<!--alt=ถ้าหารูปไม่เจอจะเอาtextในaltไปshow-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<!--ใส่วันที่ ยอดวิวบลาๆ-->
								<h3 class="title is-spaced is-4">
									<!--is-4 กำหนดขนาดtext-->
									yolo yolo yolo yo
									<!--ชื่อบทความ-->
								</h3>
								<h4 class="subtitle is-6">
									<!--is-6 กำหนดขนาดtext-->
									<!--ใส่คนเขียน-->
									tangjinjam tangjinjammm
								</h4>
								<p>
									hi there ดอกไม้แต่ละชนิด แต่ละสีสัน ต่างมีความหมายของตัวเอง สิ่งเหล่านี้คือ "ภาษาดอกไม้" ... ความหมายของเยอบีร่ามีด้วยกันสองความหมายคือ ความบริสุทธิ์ไร้เดียงสา กับ ความเข้มแข็ง
									<!--เนื้อหา-->
								</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third"> <!--copy here-->
						<!--cloumn1/3-->
						<div class="card"><!--card desgin-->
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-1"> 
									<!--alt=ถ้าหารูปไม่เจอจะเอาtextในaltไปshow-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<!--ใส่วันที่ ยอดวิวบลาๆ-->
								<h3 class="title is-spaced is-4">
									<!--is-4 กำหนดขนาดtext-->
									yolo yolo yolo yo
									<!--ชื่อบทความ-->
								</h3>
								<h4 class="subtitle is-6">
									<!--is-6 กำหนดขนาดtext-->
									<!--ใส่คนเขียน-->
									tangjinjam tangjinjammm
								</h4>
								<p>
									hi there ดอกไม้แต่ละชนิด แต่ละสีสัน ต่างมีความหมายของตัวเอง สิ่งเหล่านี้คือ "ภาษาดอกไม้" ... ความหมายของเยอบีร่ามีด้วยกันสองความหมายคือ ความบริสุทธิ์ไร้เดียงสา กับ ความเข้มแข็ง
									<!--เนื้อหา-->
								</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third"> <!--copy here-->
						<!--cloumn1/3-->
						<div class="card"><!--card desgin-->
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-1"> 
									<!--alt=ถ้าหารูปไม่เจอจะเอาtextในaltไปshow-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<!--ใส่วันที่ ยอดวิวบลาๆ-->
								<h3 class="title is-spaced is-4">
									<!--is-4 กำหนดขนาดtext-->
									yolo yolo yolo yo
									<!--ชื่อบทความ-->
								</h3>
								<h4 class="subtitle is-6">
									<!--is-6 กำหนดขนาดtext-->
									<!--ใส่คนเขียน-->
									tangjinjam tangjinjammm
								</h4>
								<p>
									hi there ดอกไม้แต่ละชนิด แต่ละสีสัน ต่างมีความหมายของตัวเอง สิ่งเหล่านี้คือ "ภาษาดอกไม้" ... ความหมายของเยอบีร่ามีด้วยกันสองความหมายคือ ความบริสุทธิ์ไร้เดียงสา กับ ความเข้มแข็ง
									<!--เนื้อหา-->
								</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third"> <!--copy here-->
						<!--cloumn1/3-->
						<div class="card"><!--card desgin-->
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-1"> 
									<!--alt=ถ้าหารูปไม่เจอจะเอาtextในaltไปshow-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<!--ใส่วันที่ ยอดวิวบลาๆ-->
								<h3 class="title is-spaced is-4">
									<!--is-4 กำหนดขนาดtext-->
									yolo yolo yolo yo
									<!--ชื่อบทความ-->
								</h3>
								<h4 class="subtitle is-6">
									<!--is-6 กำหนดขนาดtext-->
									<!--ใส่คนเขียน-->
									tangjinjam tangjinjammm
								</h4>
								<p>
									hi there ดอกไม้แต่ละชนิด แต่ละสีสัน ต่างมีความหมายของตัวเอง สิ่งเหล่านี้คือ "ภาษาดอกไม้" ... ความหมายของเยอบีร่ามีด้วยกันสองความหมายคือ ความบริสุทธิ์ไร้เดียงสา กับ ความเข้มแข็ง
									<!--เนื้อหา-->
								</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third"> <!--copy here-->
						<!--cloumn1/3-->
						<div class="card"><!--card desgin-->
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-1"> 
									<!--alt=ถ้าหารูปไม่เจอจะเอาtextในaltไปshow-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<!--ใส่วันที่ ยอดวิวบลาๆ-->
								<h3 class="title is-spaced is-4">
									<!--is-4 กำหนดขนาดtext-->
									yolo yolo yolo yo
									<!--ชื่อบทความ-->
								</h3>
								<h4 class="subtitle is-6">
									<!--is-6 กำหนดขนาดtext-->
									<!--ใส่คนเขียน-->
									tangjinjam tangjinjammm
								</h4>
								<p>
									hi there ดอกไม้แต่ละชนิด แต่ละสีสัน ต่างมีความหมายของตัวเอง สิ่งเหล่านี้คือ "ภาษาดอกไม้" ... ความหมายของเยอบีร่ามีด้วยกันสองความหมายคือ ความบริสุทธิ์ไร้เดียงสา กับ ความเข้มแข็ง
									<!--เนื้อหา-->
								</p>
							</div>
						</div>
					</a>					
<!--ในbulmaจะทำ h1-6(heading)ขนาดเท่ากันหมด เรียงใหญ่ไปเล็ก /frameworkอื่นจะแตกต่างกันไป)
		</section>
	</main>
</body>
</html>
<! cd = change directory เปลี่ยนปลายทาง command promt -->
<!-- พิมพ์dก่อนจะเปลี่ยนปลายทางเป็น drive d ค่อยทำ cd อีกรอบ -->
<!-- dir = click folder -->
<!-- bootstrap ต้องใช้ เดอคิวรี่ มันหนัก -->
<!-- foundation หยุดพัฒนาแล้ว -->
<!-- bulma - mobile first เน้นแพลทฟอมมือถือ -->