<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"> <!--แทรกรูป กำหนดขนาด-->
		</div>

		<nav class="navbar-tabs">
			<a href="#" class="nav-item">HOME</a>
			<a href="#" class="nav-item">NEWS</a>
			<a href="#" class="nav-item">REVIEW</a>
			<a href="#" class="nav-item">LOG IN</a>
			<a href="#" class="nav-item">ABOUT</a>
			<a href="#" class="nav-item">YO YO</a>
			<a href="#" class="nav-item">EI EI</a>
			<a href="#" class="nav-item">LA LA LA</a>
		</nav>

	</header>